.header__subtitle {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    max-width: 388px;
    width: 100%;
    bottom: 30px;
}